<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>答题界面</title>
    <link rel="stylesheet" href="css/question.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?859911017ff18a79639225414cf48794";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <div class="index-content">
        <div class="container">
            <div class="answer_wrap" v-show="answerAble">
                <div class="time_no_wrap">
                    <span id="qNo">{{current}}/10</span>
                    <span id="cutDown">{{cutDown}}</span>
                </div>
                <div class="question_wrap">
                    <div id="question">
                        {{question}}
                    </div>
                    <div class="option_wrap">
                        <button class="option_item" v-for="item in option" :key="item.oindex" @click="juge(item.oindex)"
                            :style="checked==item.oindex?'background-color:#f69a61':'background-color:#aa463f'">
                            {{item.olable}}:{{item.otext}}
                        </button>
                    </div>
                </div>
                <div class="operate_wrap">
                    <div class="tab_btn_wrap">
                        <button id="previous" :class="current>1?'':'nonedis'" @click="preBtn">上一题</button>
                        <button id="next" @click="nextBtn">{{nbtn}}</button>
                    </div>
                </div>
            </div>
            <div class="score_wrap" v-show="scoreable">
                <h1>你的得分是</h1>
                <h2>{{score}}</h2>
                <h2 id="time">用时：{{useTime}}</h2>
                <button class="opBtn" onclick="location.reload();">再来一次</button>
                <div class="draw_wrap" v-if="score == 100">
                    <button class="opBtn" @click="drawpicable=true" id="draw">参与抽奖</button>
                    <div class="draw_tip">请截图本页面后参与抽奖</div>
                </div>
                <div class="drawpic_wrap" v-if="drawpicable">
                    <img src="img/draw_pic.jpg" alt="" srcset="">
                    <h1>保存本图后在微信中扫码打开</h1>
                    <button class="opBtn" @click="drawpicable=false" id="draw">点击关闭</button>
                </div>
                <div class="copyright">本活动最终解释权归福州大学至诚学院新媒体中心所有</div>
            </div>
            
        </div>
    </div>
    <script src="js/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/question.js"></script>
</body>

</html>